---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif!important;
	border: none;
}
.spacer {
	margin-top: 50px;
}
