---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif!important;
	border: none;
}
.spacer {
	margin-top: 50px;
}
.ref-property {
	margin-top: 20px;
}
.ref-property h5 {
	font-family: Consolas, "Courier New", Menlo, Monaco, monospace;
	font-size: 15px;
	color: rgb(20,20,20);
	margin-bottom: 0px;
	margin-top: 6px;
}
.ref-property p {
	margin-left: 28px;
}
